{% extends 'base/main.html' %}
{% block body %}

{% if user.is_authenticated %}
<form method="post" action="{% url 'edit_project' project_slug=project.slug %}">
  {% csrf_token %}
  <input type="submit" value="Edit Project" class="submit-button">
</form>
{% endif %}

<div class="container">
  <div class="project-content">
    <div class="project-info-left">
      <h1>{{ project.name }}</h1>
      <br><br>
      <h2>{{ project.category }}</h2>
    </div>
    <div class="project-info-right">
      <h3>{{ project.info }}</h3>
      <h3>{{ project.description }}</h3>
    </div>
  </div>
</div>
<div class="additional-images">
  <div class="image-grid">
    {% for image in project.additionalimages.all %}
    <div class="additional-image-wrapper">
      <img src="{{ image.image.url }}" alt="Additional Image" class="additional-image">
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}